<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8" />
    <title>User Management System</title>
</head>
<body>

<div class="container">

    <form:form method="POST" modelAttribute="userForm" class="form-signin">
        <h2 class="form-signin-heading">Create your account</h2>
        <table>
            <tr>
                <td>User:</td>
                <td>
                    <input type='text' name='username' value=''/>
                </td>
            </tr>
            <tr><td>Password:</td><td><input type='password' name='password'/></td></tr>
            <input name="_csrf" type="hidden" value="39de8007-6706-4a6e-aa0a-c293cc028fa0" />
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form:form>

</div>
<!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="${contextPath}/resources/js/bootstrap.min.js"></script>
</body>
</html>