<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head lang="en">
        <link rel="stylesheet" type="text/css" media="all"
              href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../../css/common.css" th:href="@{/css/common.css}" />
        <meta charset="UTF-8" />
        <title>User Management System</title>
    </head>
    <body>
        <h3 class="form-signin">Create New User</h3>
        <p th:text="${error_message}" style="color:red"></p>
        <form class="form-signin" action="#" th:action="@{/new_user}" th:object="${user}" method="post">
            <p>Username: <input type="text" th:field="*{userName}" /></p>
            <p>Password: <input type="text" th:field="*{password}" /></p>
            <p>Email: <input type="text" th:field="*{email}" /></p>
            <p>First Name: <input type="text" th:field="*{firstName}" /></p>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="$../../js/bootstrap.min.js"></script>
    </body>
</html>