<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" media="all"
              href="../../css/ums.css" th:href="@{/css/ums.css}" />
        <title>User Management System</title>
    </head>
    <body>
    <nav>
        <div class="dot"></div>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/new_user">Create New User</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </nav>
<div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <h3>Search users by username:</h3>
                <form action="ums">
                    <p>Username: <input type="text" name="username"/></p>
                    <p><input type="submit" value="Search!" /></p>
                </form>
            </td>
            <td>
                <h3>Search users by e-mail:</h3>
                <form action="ums">
                    <p>E-mail: <input type="text" name="email"/></p>
                    <p><input type="submit" value="Search!" /></p>
                </form>
            </td>
            <td>
                <h3>Search users by birthday:</h3>
                <form action="ums">
                    <p>Birthday: <input type="text" name="birthday"/></p>
                    <p><input type="submit" value="Search!" /></p>
                </form>
            </td>
        </tr>
    </table>
</div>
<div class="table-responsive">
    <h1>Usernames in database</h1>
    <table class="table table-hover" border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.address}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>

    <h1>Usernames in database</h1>
    <ul th:each="user : ${users}">
        <li th:text="${user.userName}"></li>
    </ul>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="$../../js/ums.js"></script>
    </body>
</html>